<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Set new password</title>
  <script>
    var status = '<%- JSON.stringify(status) %>';

    if (JSON.parse(status) == "verified") {
      alert('Password changed Successfully');
      window.location.href = "http://localhost:3000/login";
    }
  </script>
</head>
<!-- <body>
    <h1><%= email%></h1>
    <form action="" method="post">
      <input
        type="password"
        name="password"
        id="password"
        placeholder="password"
      /><br />
      <input
        type="password"
        name="confirm-password"
        id="confirm-password"
        placeholder="confirm-password"
      /><br />
      <input type="submit" value="submit" />
    </form>
  </body> -->


<!-- component -->

<body class="antialiased bg-slate-200">
  <div class="max-w-lg mx-auto my-10 bg-white p-8 rounded-xl shadow shadow-slate-300">
    <h1 class="text-4xl font-medium">Reset password</h1>
    <br>
    <p class="text-slate-500">Reset password form for <b>
        <%= email%>
      </b> </p>

    <form action="" class="my-10" method="post">
      <div class="flex flex-col space-y-5">
        <label for="email">
          <p class="font-medium text-slate-700 pb-2">Type new password</p>
          <input id="password" name="password" type="text"
            class="w-full py-3 border border-slate-200 rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow"
            placeholder="Type new password here">
        </label>

        <button type="submit" value="submit"
          class="w-full py-3 font-medium text-white bg-indigo-600 hover:bg-indigo-500 rounded-lg border-indigo-500 hover:shadow inline-flex space-x-2 items-center justify-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M15.75 5.25a3 3 0 013 3m3 0a6 6 0 01-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1121.75 8.25z" />
          </svg>
          <span>Submit new password</span>
        </button>
      </div>
    </form>
  </div>

</body>

</html>